body {
  background: url('../images/background.png') repeat;
  font-family: 'WeDrive';
  font-size: 1em;
  max-width: 1200px;
}
a:hover {
  text-decoration: none;
}

/* Header */
header nav {
  font-family: 'Drive';
  font-size: 0.8em;
  font-weight:400;
}

/*Gestion de la NAV*/
.nav-link{
  color: rgb(99, 87, 86)
}
.active>.nav-link,
.nav-link:hover{
  color: white;
  background-color: rgb(99, 87, 86);
}

/*Gestion d'un bloc article :*/
article {
  margin: 3em auto 0;
  max-width: 850px;
  box-shadow: 0px -10px 21px -6px rgba(0,0,0,0.5);
    -webkit-box-shadow: 0px -10px 21px -6px rgba(0,0,0,0.5);
}
.article-containt-img img{
  width: 100%;
}
.article-containt-main {
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
  justify-content: space-between;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
}
.article-date {
  color: rgba(119, 108, 108, 0.8);
  font-size: 0.8em;
  padding: 0.5em 1em;
  right: 0.5em;
  text-align: right;
  text-transform: uppercase;
}
.article-title {
  color: #5A4A4A;
  font-family: 'Drive';
  font-size: 1.5em;
  font-weight: 800;
  padding: 1em 0.5em 0.5em 0.5em;
  text-align: left;
  text-transform: uppercase;
}
.article-text {
  color: rgba(119, 108, 108, 0.8);
  font-size: 0.8em;
  line-height: 1.5em;
  padding: 0.5em;
  text-align: left;
}
.article-footer{
  bottom: 0.5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
  padding: 0.5em;
}
.article-category-list{
  display: inline-block;
}
.article-category{
  background-color: rgb(249, 248, 248);
  color: rgba(119, 108, 108, 0.8);
  display: inline-block;
  font-size: 0.8em;
  padding: 0.3em;
  text-transform: uppercase;
}
.article-category:hover{
  color: white;
  background-color: rgb(99, 87, 86);
}
.article-socials{
  display: inline-block;
}
.article-socials-img{
  background-color: rgb(224, 221, 221);
  border-radius: 50%;
}
.article-img-border{
  height: 11px;
  width: 100%;
}
.blue{
  background: center url('../images/blue-triangle.png');
}
.pink{
  background-image: url('../images/pink-triangle.png');
}

/*Pagination*/
.paging button {
  color : white;
  background-color: rgb(167, 159, 157);
  border: none;
  border-radius: 2px;
  font-family: 'Drive';
  margin: 4em 0.3em;
  padding: 0.7em 1em;
  text-transform: uppercase;
}
.paging button:focus,
.paging button:hover {
  background-color: rgb(90, 74, 74);
}

/*Footer*/
footer{
  border-top: solid 1px rgb(167, 159, 157);
  margin: auto;
  max-width: 850px;
  width: 100%;
}
#copyright{
  color: rgb(167, 159, 157);
  display: inline-block;
  font-size: 0.8em;
  margin-top: 0.5em;
  text-align: right;
}
#copyright strong{
  color: rgb(90, 74, 74);
  font-weight: 300;
}
#nav-footer nav ul li{
  display: inline-block;
  margin: 0.7em 0.3em 0;
}
#nav-footer nav ul li a{
  color: rgb(167, 159, 157);
  font-size: 0.6em;
}

@media (min-width: 768px) {

  .nav{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 1.5em;
  }
  article{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
      -ms-flex-wrap: wrap;
  }
  .article-containt-img{
    display: inline-block;
    width: 33%;
  }
  .article-img{
    height: 100%;
    width: 100%;
  }
  .article-containt-main{
    width: 67%;
    padding: 1em;
  }
  footer {
    align-items: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-between;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
  }
  #copyright strong{
    font-weight: 600;
  }
  #nav-footer nav ul li{
    margin: auto;
  }
  #nav-footer nav ul li a{
    color: rgb(90, 74, 74);
    font-size: 0.8em;
    margin-right: 2em;
  }
}

@media (min-width: 992px) {
  .logo-header{
    left: 5em;
    top: 0;
  }
  header img:hover{
    transform: rotate(0.75turn);
      -webkit-transform: rotate(0.75turn);
      -ms-transform: rotate(0.75turn);
    zoom: 140%;
  }
  .nav-link{
    background-color: rgb(245, 245, 243);
    margin: 1.5em 0.5em;
  }
}
